.card:hover .cardBanner {
  transform: translateY(0px);
  opacity: 0.8;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
}
.modal {
  background: inherit;
  margin-top: 200px;
  width: 80%;
  margin: auto;
}
